
  th {
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid #ddd;

  }
  td {
    vertical-align: middle;

  }

  tr:nth-child(even) td {
    background-color: #f5f5f5;
  }

  tr:hover td {
    background-color: #ddd;
  }

  .highlight-overdue {
    background-color: #ffcccc; /* or any other color you prefer */
  }



.center {
  margin-left: auto;
  margin-right: auto;
}

.customColumnColor {
  text-align: center;
}